<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>coding site</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="container">
    <div class="nav" id="navbar">
      <ul>
        <div class="logo">icoder</div>
        <li><a href="">Home</a></li>
        <li><a href="">AboutUs</a></li>
        <li><a href="">Services</a></li>
        <li><a href="/contact">ContactUs</a></li>
      </ul>
    </div>

    <div class="sec1">
      <h1>welcome to our online coding internship</h1><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi repudiandae laudantium pariatur possimus omnis distinctio eos quibusdam autem! Officia iusto facilis placeat rerum corporis! Nihil odit vel rem veniam nemo!
      </p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident consequatur eius unde consequuntur quo minima, libero dolor, delectus distinctio iure optio fuga odit magni exercitationem nulla excepturi impedit magnam repellendus illum? Commodi ad repellat maiores laudantium, quia temporibus quis fugiat reiciendis eveniet doloribus possimus repudiandae, voluptatum at ducimus sunt! Delectus?</p>
    </div>

    <div class="sec2">
        <div class="card">
          <p>web development</p>
        </div>
        <div class="card">
          <p>Android development</p>
        </div>
        <div class="card">
            <p>Machine learning</p>
        </div>
        <div class="card">
          <p>Deep learning</p>
        </div>
        <div class="card">
          <p>Graphics design</p>
        </div>
    </div>
    </div>
    <div class="footer">
      <p>&copyright with manna-2021 All rights reserved</p>
    </div>
</body>
</html>